body {
    margin-bottom : 30px;
}

.window {
    max-height : 200px;
    min-height : 200px;
}

.scroll {
    margin        : 2px;
    max-height    : 180px;
    min-height    : 150px;
    border-radius : 8px;
    overflow-y    : scroll;
}

#drivers {
    background : #ffc266;
}

#drivers .row  div:first-child, #drivers .row div:last-child {
    text-align : right;
}

#circuits {
    background : #ffad33;
}

#countries {
    background : #ff9900;
}

#sql {
    font-family   : 'Space Mono', monospace;
    border-radius : 12px;
    padding       : 12px;
    overflow-x    : scroll;
}

.container .row {
    padding    : 3px;
}