body {
    margin-bottom : 30px;
}

.window {
    max-height : 200px;
    min-height : 200px;
}

.scroll {
    margin     : 2px;
    max-height : 180px;
    min-height : 150px;
    overflow-y : scroll;
}

#drivers {
    background : #b3d9ff;
}

#drivers .row  div:first-child, #drivers .row div:last-child {
    text-align : right;
}

#circuits {
    background : #ffc34d;
}

#countries {
    background : limegreen;
}

#sql {
    font-family: 'Space Mono', monospace;
}

.container .row {
    padding    : 3px;
}